<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<h2 id="type" >Message</h2>
<textarea cols="10" style="width: 300px" onkeypress="sendTypingMessage()" onkeyup="stopTyping()">

</textarea>
</body>
</html>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script>
    var socket = new SockJS("/websocket-connection");
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        stompClient.subscribe("/topic/type", function (payload){
            document.getElementById("type").innerText = payload.body;
        })
        stompClient.subscribe("/topic/online", function (payload) {
            setTimeout(function () {
                document.getElementById("type").innerText = payload.body;
            }, 1000)
        })
    })
    function sendTypingMessage() {
        stompClient.send("/app/type", null, {})
    }
    function stopTyping() {
        stompClient.send("/app/online", null, {})
    }
</script>